<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

    {%- include footer.html -%}

    </body>

    <script>
        window.onscroll = function() {fixSearchBar()};
        var header = document.getElementById("myInput");
        var sticky = header.offsetTop;

        function fixSearchBar() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</html>
